@media (min-width: 670px) and (max-width: 1024px) {
    header img {
      height: auto;
      width: 100%;
    }
  
    .headings h1 { 
        font-size: 80px;
        margin: 0 0 15px 5px;
        text-shadow: 2px 2px 10px black; /* Make text stand out */
      }

      
    .horsespring-motto p {
        
    }

    .horseCards {
      margin: 20px;
    }

    .horseCards-img {
      width: 1050px; 
      height: auto; 
      margin: 0;
      place-items: center;
      padding: 20px;
      float: right;
    }

      .trail-images {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Two columns */
        gap: 20px; /* Space between items */
        justify-items: center;
      }
    
      .trail-images img {
        width: 100%; /* Full container width */
        max-height: 300px; /* Ensure consistent size for portrait images */
        object-fit: cover; /* Adjust image fit without distortion */
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 5px 5px 5px #999;
      }

      #trail-cards .trailone p {
        font-size: 1em;
        margin-top: 10px;
        margin-bottom: 10px;
      }

      #trail-cards .trailtwo li {
        font-size: 1em;
      }
    
      #trail-cards .trailthree p {
        font-size: 1em; /* Adjusts paragraph text size */
      }
    
      #trail-cards .call-button {
        padding: 15px 25px; /* Makes the button larger */
        font-size: 18px;    /* Increases button text size */
      }

  .map {
      display: block;
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  
  .map iframe {
      left:0;
      top:0;
      margin-top: 15px;
      height:80%;
      width:100%;
      position:absolute;
      box-shadow: 0 0 50px rgb(55, 56, 58);
  
  }
}