@media (min-width: 670px) and (max-width: 1024px) {
    header img {
      height: auto;
      width: 100%;
    }
  
    .headings h1 { 
        font-size: 80px;
        margin: 0 0 15px 5px;
        text-shadow: 2px 2px 10px black; /* Make text stand out */
      }

      
    .horsespring-motto p {
        
    }

    .horseCards {
      margin: 20px;
    }

    .horseCards-img {
      width: 1050px; 
      height: auto; 
      margin: 0;
      place-items: center;
      padding: 20px;
    }

    .trail-images img {
      width: 48%; /* Adjust to two images per row on medium screens */
      max-width: 48%;
    }

  .map {
      display: block;
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height:0;
  }
  
  .map iframe {
      left:0;
      top:0;
      margin-top: 15px;
      height:80%;
      width:100%;
      position:absolute;
      box-shadow: 0 0 50px rgb(55, 56, 58);
  
  }
}